    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Merchantorder">
        <tr>
            <td>手机号码：</td>
            <td><input type="text" id="phone_number" value=""></td>
        </tr><tr>
            <td>姓名：</td>
            <td><input type="text" id="full_name" value=""></td>
        </tr><tr>
            <td>地址：</td>
            <td><input type="text" id="address" value=""></td>
        </tr><tr>
            <td>openid：</td>
            <td><input type="text" id="openid" value=""></td>
        </tr><tr>
            <td>下单时间：</td>
            <td><input type="text" id="order_time" value=""></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>