    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Operationlog">
        <tr>
            <td>openid：</td>
            <td><input type="text" id="OPENID" value=""></td>
        </tr><tr>
            <td>操作时间：</td>
            <td><input type="text" id="OPERATING_TIME" value=""></td>
        </tr><tr>
            <td>操作内容：</td>
            <td><input type="text" id="OPERATION_CONTENT" value=""></td>
        </tr><tr>
            <td>辅助信息：</td>
            <td><input type="text" id="AUXILIARY_INFORMATION" value=""></td>
        </tr><tr>
            <td>关联ID：</td>
            <td><input type="text" id="correlation_id" value=""></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>