<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css?v=0.1" />
        <link rel="stylesheet" type="text/css" href="/static/css/loading.css?v=0.3" />
        <link rel="stylesheet" type="text/css" href="/static/css/weixin/PerformanceEnquiry.css?v=0.12" />
        <title>业绩明细</title>
    </head>
    <body>
        <div class="Results" id="Results">
            <table class="table-bordered" width="100%">
                <tr>
                    <th>绩效时间</th><th>业绩类别</th><th>业绩金额</th>
                </tr>
                {volist name="BroadbandPerformance" id="vo"}
                    <tr><td>{$vo.performance_time}</td><td>{$vo.performance_category}</td><td>{$vo.achievement}</td></tr>
                {/volist}
            </table>
        </div>
        <div class="buttonDiv">
            <button type="button" class="btn btn-primary btn-block" id="Returns">返回</button>
        </div>
        <script data-main="/static/js/weixin/PerformanceDetails.js?v=14" src="/static/js/require.min.js"></script>
    </body>
</html>
