    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Broadbandpackage">
        <tr>
            <td>套餐分类：</td>
            <td><input type="text" id="package_classification" value=""></td>
        </tr><tr>
            <td>套餐名称：</td>
            <td><input type="text" id="package_name" value=""></td>
        </tr><tr>
            <td>个人绩效：</td>
            <td><input type="text" id="personal_performance" value=""></td>
        </tr><tr>
            <td>一级员工奖励：</td>
            <td><input type="text" id="first_class_employee_reward" value=""></td>
        </tr><tr>
            <td>二级员工奖励：</td>
            <td><input type="text" id="two_level_employee_reward" value=""></td>
        </tr><tr>
            <td>显示顺序：</td>
            <td><input type="text" id="display_order" value=""></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>