    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Userrightsallocationtable">
        <tr>
            <td>角色：</td>
            <td><input type="text" id="role" value=""></td>
        </tr><tr>
            <td>菜单ID：</td>
            <td><input type="text" id="menu_id" value=""></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>