    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <div>是否确认删除以下数据？</div>
    <table class="FormTable" id="Merchantorder">
        <tr>
            <td></td>
            <td>
                <input type="hidden" id="MERCHANT_ORDER_ID" value="{$MerchantOrder.MERCHANT_ORDER_ID}">
            </td>
        </tr>
        <tr>
            <td>手机号码：</td>
            <td>{$MerchantOrder.phone_number}</td>
        </tr><tr>
            <td>姓名：</td>
            <td>{$MerchantOrder.full_name}</td>
        </tr><tr>
            <td>地址：</td>
            <td>{$MerchantOrder.address}</td>
        </tr><tr>
            <td>openid：</td>
            <td>{$MerchantOrder.openid}</td>
        </tr><tr>
            <td>下单时间：</td>
            <td>{$MerchantOrder.order_time}</td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="Delete">删除</div><div class="Button" id="Cancellation">取消</div>
    </div>