    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Tvehicleinformation">
        <tr>
            <td>设备号：</td>
            <td><input type="text" id="equipment_number" value=""></td>
        </tr><tr>
            <td>状态说明：</td>
            <td><input type="text" id="status_description" value=""></td>
        </tr><tr>
            <td>经度：</td>
            <td><input type="text" id="longitude" value=""></td>
        </tr><tr>
            <td>纬度：</td>
            <td><input type="text" id="latitude" value=""></td>
        </tr><tr>
            <td>速度：</td>
            <td><input type="text" id="speed" value=""></td>
        </tr><tr>
            <td>航向：</td>
            <td><input type="text" id="course" value=""></td>
        </tr><tr>
            <td>定位类型：</td>
            <td><input type="text" id="location_type" value=""></td>
        </tr><tr>
            <td>车牌号：</td>
            <td><input type="text" id="license_plate_number" value=""></td>
        </tr><tr>
            <td>车架号：</td>
            <td><input type="text" id="frame_number" value=""></td>
        </tr><tr>
            <td>更新时间：</td>
            <td><input type="text" id="update_time" value=""></td>
        </tr><tr>
            <td>数据包：</td>
            <td><input type="text" id="data_packet" value=""></td>
        </tr><tr>
            <td>地址：</td>
            <td><input type="text" id="address" value=""></td>
        </tr><tr>
            <td>ACC状态：</td>
            <td><input type="text" id="acc_status" value=""></td>
        </tr><tr>
            <td>百度经度：</td>
            <td><input type="text" id="baidu_longitude" value=""></td>
        </tr><tr>
            <td>百度纬度：</td>
            <td><input type="text" id="baidu_latitude" value=""></td>
        </tr><tr>
            <td>是否超速：</td>
            <td><input type="text" id="overspeed" value=""></td>
        </tr><tr>
            <td>轨迹时间：</td>
            <td><input type="text" id="track_time" value=""></td>
        </tr><tr>
            <td>电子围栏ID：</td>
            <td><input type="text" id="electronic_fence_id" value=""></td>
        </tr><tr>
            <td>是否出界：</td>
            <td><input type="text" id="out_of_bounds" value=""></td>
        </tr><tr>
            <td>总里程：</td>
            <td><input type="text" id="total_mileage" value=""></td>
        </tr><tr>
            <td>当日里程：</td>
            <td><input type="text" id="mileage_of_the_day" value=""></td>
        </tr><tr>
            <td>超速时间：</td>
            <td><input type="text" id="overspeed_time" value=""></td>
        </tr><tr>
            <td>长时超速：</td>
            <td><input type="text" id="long_term_overspeed" value=""></td>
        </tr><tr>
            <td>限速路段：</td>
            <td><input type="text" id="speed_limit_section" value=""></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>