    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <div>是否确认删除以下数据？</div>
    <table class="FormTable" id="Tvehicleinformation">
        <tr>
            <td></td>
            <td>
                <input type="hidden" id="T_VEHICLE_INFORMATION_ID" value="{$TVehicleInformation.T_VEHICLE_INFORMATION_ID}">
            </td>
        </tr>
        <tr>
            <td>设备号：</td>
            <td>{$TVehicleInformation.equipment_number}</td>
        </tr><tr>
            <td>状态说明：</td>
            <td>{$TVehicleInformation.status_description}</td>
        </tr><tr>
            <td>经度：</td>
            <td>{$TVehicleInformation.longitude}</td>
        </tr><tr>
            <td>纬度：</td>
            <td>{$TVehicleInformation.latitude}</td>
        </tr><tr>
            <td>速度：</td>
            <td>{$TVehicleInformation.speed}</td>
        </tr><tr>
            <td>航向：</td>
            <td>{$TVehicleInformation.course}</td>
        </tr><tr>
            <td>定位类型：</td>
            <td>{$TVehicleInformation.location_type}</td>
        </tr><tr>
            <td>车牌号：</td>
            <td>{$TVehicleInformation.license_plate_number}</td>
        </tr><tr>
            <td>车架号：</td>
            <td>{$TVehicleInformation.frame_number}</td>
        </tr><tr>
            <td>更新时间：</td>
            <td>{$TVehicleInformation.update_time}</td>
        </tr><tr>
            <td>数据包：</td>
            <td>{$TVehicleInformation.data_packet}</td>
        </tr><tr>
            <td>地址：</td>
            <td>{$TVehicleInformation.address}</td>
        </tr><tr>
            <td>ACC状态：</td>
            <td>{$TVehicleInformation.acc_status}</td>
        </tr><tr>
            <td>百度经度：</td>
            <td>{$TVehicleInformation.baidu_longitude}</td>
        </tr><tr>
            <td>百度纬度：</td>
            <td>{$TVehicleInformation.baidu_latitude}</td>
        </tr><tr>
            <td>是否超速：</td>
            <td>{$TVehicleInformation.overspeed}</td>
        </tr><tr>
            <td>轨迹时间：</td>
            <td>{$TVehicleInformation.track_time}</td>
        </tr><tr>
            <td>电子围栏ID：</td>
            <td>{$TVehicleInformation.electronic_fence_id}</td>
        </tr><tr>
            <td>是否出界：</td>
            <td>{$TVehicleInformation.out_of_bounds}</td>
        </tr><tr>
            <td>总里程：</td>
            <td>{$TVehicleInformation.total_mileage}</td>
        </tr><tr>
            <td>当日里程：</td>
            <td>{$TVehicleInformation.mileage_of_the_day}</td>
        </tr><tr>
            <td>超速时间：</td>
            <td>{$TVehicleInformation.overspeed_time}</td>
        </tr><tr>
            <td>长时超速：</td>
            <td>{$TVehicleInformation.long_term_overspeed}</td>
        </tr><tr>
            <td>限速路段：</td>
            <td>{$TVehicleInformation.speed_limit_section}</td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="Delete">删除</div><div class="Button" id="Cancellation">取消</div>
    </div>