    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Tvehicleinformation">
        <tr>
            <td></td>
            <td>
                <input type="hidden" id="T_VEHICLE_INFORMATION_ID" value="{$TVehicleInformation.T_VEHICLE_INFORMATION_ID}">
            </td>
        </tr>
        <tr>
            <td>设备号：</td>
            <td><input type="text" id="equipment_number" value="{$TVehicleInformation.equipment_number}"></td>
        </tr><tr>
            <td>状态说明：</td>
            <td><input type="text" id="status_description" value="{$TVehicleInformation.status_description}"></td>
        </tr><tr>
            <td>经度：</td>
            <td><input type="text" id="longitude" value="{$TVehicleInformation.longitude}"></td>
        </tr><tr>
            <td>纬度：</td>
            <td><input type="text" id="latitude" value="{$TVehicleInformation.latitude}"></td>
        </tr><tr>
            <td>速度：</td>
            <td><input type="text" id="speed" value="{$TVehicleInformation.speed}"></td>
        </tr><tr>
            <td>航向：</td>
            <td><input type="text" id="course" value="{$TVehicleInformation.course}"></td>
        </tr><tr>
            <td>定位类型：</td>
            <td><input type="text" id="location_type" value="{$TVehicleInformation.location_type}"></td>
        </tr><tr>
            <td>车牌号：</td>
            <td><input type="text" id="license_plate_number" value="{$TVehicleInformation.license_plate_number}"></td>
        </tr><tr>
            <td>车架号：</td>
            <td><input type="text" id="frame_number" value="{$TVehicleInformation.frame_number}"></td>
        </tr><tr>
            <td>更新时间：</td>
            <td><input type="text" id="update_time" value="{$TVehicleInformation.update_time}"></td>
        </tr><tr>
            <td>数据包：</td>
            <td><input type="text" id="data_packet" value="{$TVehicleInformation.data_packet}"></td>
        </tr><tr>
            <td>地址：</td>
            <td><input type="text" id="address" value="{$TVehicleInformation.address}"></td>
        </tr><tr>
            <td>ACC状态：</td>
            <td><input type="text" id="acc_status" value="{$TVehicleInformation.acc_status}"></td>
        </tr><tr>
            <td>百度经度：</td>
            <td><input type="text" id="baidu_longitude" value="{$TVehicleInformation.baidu_longitude}"></td>
        </tr><tr>
            <td>百度纬度：</td>
            <td><input type="text" id="baidu_latitude" value="{$TVehicleInformation.baidu_latitude}"></td>
        </tr><tr>
            <td>是否超速：</td>
            <td><input type="text" id="overspeed" value="{$TVehicleInformation.overspeed}"></td>
        </tr><tr>
            <td>轨迹时间：</td>
            <td><input type="text" id="track_time" value="{$TVehicleInformation.track_time}"></td>
        </tr><tr>
            <td>电子围栏ID：</td>
            <td><input type="text" id="electronic_fence_id" value="{$TVehicleInformation.electronic_fence_id}"></td>
        </tr><tr>
            <td>是否出界：</td>
            <td><input type="text" id="out_of_bounds" value="{$TVehicleInformation.out_of_bounds}"></td>
        </tr><tr>
            <td>总里程：</td>
            <td><input type="text" id="total_mileage" value="{$TVehicleInformation.total_mileage}"></td>
        </tr><tr>
            <td>当日里程：</td>
            <td><input type="text" id="mileage_of_the_day" value="{$TVehicleInformation.mileage_of_the_day}"></td>
        </tr><tr>
            <td>超速时间：</td>
            <td><input type="text" id="overspeed_time" value="{$TVehicleInformation.overspeed_time}"></td>
        </tr><tr>
            <td>长时超速：</td>
            <td><input type="text" id="long_term_overspeed" value="{$TVehicleInformation.long_term_overspeed}"></td>
        </tr><tr>
            <td>限速路段：</td>
            <td><input type="text" id="speed_limit_section" value="{$TVehicleInformation.speed_limit_section}"></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveEdit">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>