    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="NoBorder" id="menu_list">
        <tr><td>菜单名称：</td><td><input type="text" id="MENU_NAME"></td></tr>
        <tr><td>菜单图标：</td><td><input type="text" id="MENU_ICON" style="width:300px"></td></tr>
        <tr><td>对应URL：</td><td><input type="text" id="CORRESPONDING_URL" style="width:300px"></td></tr>
        <tr><td>显示顺序：</td><td><input type="text" id="DISPLAY_ORDER"></td></tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>