    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <div>是否缺删除以下数据？</div>
    <table class="FormTable" id="BroadbandPackageClassification">
        <tr>
            <td>套餐分类名称：</td>
            <td>{$BroadbandPackageClassification.classification_name}
            <input type="hidden" id="BROADBAND_PACKAGE_CLASSIFICATION_ID" value="{$BroadbandPackageClassification.BROADBAND_PACKAGE_CLASSIFICATION_ID}"></td>
        </tr>
        <tr>
            <td>显示顺序：</td>
            <td>{$BroadbandPackageClassification.display_order}</td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="Delete">删除</div><div class="Button" id="Cancellation">取消</div>
    </div>