    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="BroadbandPackageClassification">
        <tr>
            <td>套餐分类名称：</td>
            <td><input type="text" id="classification_name" value="{$BroadbandPackageClassification.classification_name}">
            <input type="hidden" id="BROADBAND_PACKAGE_CLASSIFICATION_ID" value="{$BroadbandPackageClassification.BROADBAND_PACKAGE_CLASSIFICATION_ID}"></td>
        </tr>
        <tr>
            <td>显示顺序：</td>
            <td><input type="text" id="display_order" value="{$BroadbandPackageClassification.display_order}"></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveEdit">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>