    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Broadbandperformance">
        <tr>
            <td>openid：</td>
            <td><input type="text" id="openid" value=""></td>
        </tr><tr>
            <td>业绩：</td>
            <td><input type="text" id="achievement" value=""></td>
        </tr><tr>
            <td>业绩类别：</td>
            <td><input type="text" id="performance_category" value=""></td>
        </tr><tr>
            <td>绩效时间：</td>
            <td><input type="text" id="performance_time" value=""></td>
        </tr><tr>
            <td>订单ID：</td>
            <td><input type="text" id="order_id" value=""></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>