<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
        <style type="text/css">
            body{
                background-color: #08304a;padding: 10px;
            }
            .div4{
                border: 1px solid #0F0;padding: 10px;overflow:hidden;
            }
            .biaoti{
                font-size: 20px;font-weight: bold;color: #FFF;
            }
            .span1{color:#FFF;}
            .zaixian{color:#0F0;font-weight:bold;}
            .guzhang{color:#FF0;font-weight:bold;}
            .lixiang{color:#F00;font-weight:bold;}
        </style>
    </head>
    
    <body>
        <table width="100%">
            <tr>
                <td style="width:500px" valign="top">
                    <table class="table table-bordered" style="color:#FFF;font-size:14px">
                       <tr><th>城市</th><th>站点编号</th><th>站点名称</th><th>遥测数据传输率</th><th>点位状态</th></tr>
                       <tr><td>北京</td><td>1001A</td><td>万寿西宫</td><td class="ycsjjdt">
                           <table><tr><td><div style="width:100px;height:15px;background-color:rgb(0,100,0);"></div></td><td style="width:5px"></td><td>30%</td></tr></table>
                       </td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>北京</td><td>1001A</td><td>定陵</td><td class="ycsjjdt">北京</td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>北京</td><td>1002A</td><td>东四</td><td class="ycsjjdt">北京</td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>北京</td><td>1003A</td><td>天坛</td><td class="ycsjjdt">北京</td><td><span class="guzhang">故障</span></td></tr>
                       <tr><td>北京</td><td>1004A</td><td>农展馆</td><td class="ycsjjdt">北京</td><td><span class="lixiang">离线</span></td></tr>
                       <tr><td>北京</td><td>1005A</td><td>官园</td><td class="ycsjjdt">北京</td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>北京</td><td>1006A</td><td>海淀区万柳</td><td class="ycsjjdt">北京</td><td><span class="guzhang">故障</span></td></tr>
                       <tr><td>北京</td><td>1007A</td><td>顺义新城</td><td class="ycsjjdt">北京</td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>北京</td><td>1008A</td><td>怀柔镇</td><td class="ycsjjdt">北京</td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>北京</td><td>1009A</td><td>昌平镇</td><td class="ycsjjdt">北京</td><td><span class="lixiang">离线</span></td></tr>
                       <tr><td>北京</td><td>1010A</td><td>奥体中心</td><td class="ycsjjdt">北京</td><td><span class="guzhang">故障</span></td></tr>
                       <tr><td>北京</td><td>1011A</td><td>古城</td><td class="ycsjjdt">北京</td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>天津</td><td>1012A</td><td>市监测中心</td><td class="ycsjjdt">北京</td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>天津</td><td>1013A</td><td>南口路</td><td class="ycsjjdt">北京</td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>天津</td><td>1014A</td><td>勤俭路</td><td class="ycsjjdt">北京</td><td><span class="guzhang">故障</span></td></tr>
                       <tr><td>天津</td><td>1015A</td><td>南京路</td><td class="ycsjjdt">北京</td><td><span class="guzhang">故障</span></td></tr>
                       <tr><td>天津</td><td>1016A</td><td>大直沽八号路</td><td class="ycsjjdt">北京</td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>天津</td><td>1017A</td><td>前进路</td><td class="ycsjjdt">北京</td><td><span class="guzhang">故障</span></td></tr>
                       <tr><td>天津</td><td>1018A</td><td>北辰科技园区</td><td class="ycsjjdt">北京</td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>天津</td><td>1019A</td><td>天山路</td><td class="ycsjjdt">北京</td><td><span class="guzhang">故障</span></td></tr>
                       <tr><td>天津</td><td>1020A</td><td>跃进路</td><td class="ycsjjdt">北京</td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>天津</td><td>1021A</td><td>第四大街</td><td class="ycsjjdt">北京</td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>天津</td><td>1022A</td><td>永明路</td><td class="ycsjjdt">北京</td><td><span class="zaixian">在线</span></td></tr>
                       <tr><td>天津</td><td>1023A</td><td>航天路</td><td class="ycsjjdt">北京</td><td><span class="guzhang">故障</span></td></tr>
                       <tr><td>天津</td><td>1024A</td><td>汉北路</td><td class="ycsjjdt">北京</td><td><span class="guzhang">故障</span></td></tr>
                    </table>
                </td>
                <td style="width:10px"></td>
                <td valign="top">
                    <div id="pfcbcl" style="height:400px"></div>
                    <div id="pfcbcl2" style="height:300px"></div>
                    <div style="height:10px"></div>
                    <table width="100%"><tr><td align="center"><span style="color:#0ee;font-size:17px;font-weight:bold">监测点位分析</span></td></tr></table>
                    <div id="jcdwfx" style="height:300px"></div>
                </td>
            </tr>
        </table>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=5QUV6G5DqeH7ljQ8iGOnYOcc"></script>
        <script src="/static/js/Towadd26/echarts.min.js"></script>
        <script src="/static/js/Towadd26/bmap.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/Towadd26/sslbzs.js?v=4"></script>
    </body>
</html>
