<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
        <title></title>
        <style type="text/css">
            body{overflow:hidden;margin:0px;}
            .mapdivw{overflow:hidden;}
            .fd{position:absolute;}
            .dhk{background-color:rgba(0,0,0,0.5);color:#FFF;overflow:hidden;display:none;}
            .an{cursor:pointer;}
            .bt{margin:10px;line-height:40px;}
            .fgx{border-top:1px solid #999;}
            .cbjldiv{border:1px solid #0F0;}
        </style>
    </head>
    
    <body>
        <div id="mapdivw" class="mapdivw">
            <div id="mapdiv"></div>
        </div>
        <div class="fd dhk" id="zzdddiv">
            <table width="100%">
                <tr><td>
                    <span class="bt">遥测布控编组</span>
                </td><td align="right"><img src="/static/img/ico/del.png" class="an gb" style="width:20px"></td><td style="width:10px"></td></tr>
            </table>
            <div class="fgx"></div>
            <div style="height:10px"></div>
            <table width="100%">
                <tr>
                    <td>
                        <table width="100%">
                            <tr>
                                <td align="center">株洲大道</td>
                                <td style="width:10px"></td>
                                <td align="center">遥测车</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <video controls="controls" autoplay="autoplay" loop="loop" width="360px">
                                        <source src="/static/video/A130128001032018051410180661.mp4" type="video/mp4" />
                                    </video>
                                </td>
                                <td></td>
                                <td align="center">
                                    <video controls="controls" autoplay="autoplay" loop="loop" width="360px">
                                        <source src="/static/video/A1301280010320180514113043298.mp4" type="video/mp4" />
                                    </video>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tr><td style="width:10px"></td>
                                        <td>
                                            <table class="table table-bordered">
                                                <tr><th style="width:80px">监测指标</th><th>监测值</th><th style="width:60px">标准值</th></tr>
                                                <tr><td>CO<sub>2</sub>(%)</td><td id="co21td">
                                                </td><td>--</td></tr>
                                                <tr><td>CO(%)</td><td id="co1td"></td><td>4.5</td></tr>
                                                <tr><td>HC(×10<sup>6</sup>)</td><td id="hc1td"></td><td>--</td></tr>
                                                <tr><td>NO(×10<sup>6</sup>)</td><td id="no1td"></td><td>3500</td></tr>
                                                <tr><td>不透光度</td><td id="btgd1td"></td><td>--</td></tr>
                                            </table>
                                        </td>
                                    </table>
                                </td>
                                <td></td>
                                <td>
                                    <table width="100%">
                                        <tr><td style="width:10px"></td>
                                        <td>
                                            <table class="table table-bordered">
                                                <tr><th style="width:80px">监测指标</th><th>监测值</th><th style="width:60px">标准值</th></tr>
                                                <tr><td>CO<sub>2</sub>(%)</td><td id="co22td">
                                                </td><td>--</td></tr>
                                                <tr><td>CO(%)</td><td id="co2td"></td><td>4.5</td></tr>
                                                <tr><td>HC(×10<sup>6</sup>)</td><td id="hc2td"></td><td>--</td></tr>
                                                <tr><td>NO(×10<sup>6</sup>)</td><td id="no2td"></td><td>3500</td></tr>
                                                <tr><td>不透光度</td><td id="btgd2td"></td><td>--</td></tr>
                                            </table>
                                        </td>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:10px"></td>
                    <td style="width:300px" valign="top">
                        <div class="cbjldiv" id="cbjldiv">
                            <div style="height:5px"></div>
                            <table width="100%"><tr><td align="center">超标记录</td></tr></table>
                            <div style="height:5px"></div>
                            <table width="100%">
                                <tr>
                                    <td style="width:5px"></td>
                                    <td>
                                        <table class="table table-bordered">
                                            <tr><th>号牌</th><th>指标</th><th>第1次</th><th>第2次</th></tr>
                                            <tbody id="cbjltbody">
                                                
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width:5px"></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td style="width:10px"></td>
                </tr>
            </table>
        </div>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=5QUV6G5DqeH7ljQ8iGOnYOcc"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/zhuzhou/index.js?v=2"></script>
    </body>
</html>
