    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Finalperformancecoefficient">
        <tr>
            <td></td>
            <td>
                <input type="hidden" id="FINAL_PERFORMANCE_COEFFICIENT_ID" value="{$FinalPerformanceCoefficient.FINAL_PERFORMANCE_COEFFICIENT_ID}">
            </td>
        </tr>
        <tr>
            <td>区间最小值：</td>
            <td><input type="text" id="interval_minimum" value="{$FinalPerformanceCoefficient.interval_minimum}"></td>
        </tr><tr>
            <td>区间最大值：</td>
            <td><input type="text" id="interval_maximum" value="{$FinalPerformanceCoefficient.interval_maximum}"></td>
        </tr><tr>
            <td>绩效系数：</td>
            <td><input type="text" id="performance_coefficient" value="{$FinalPerformanceCoefficient.performance_coefficient}"></td>
        </tr><tr>
            <td>显示顺序：</td>
            <td><input type="text" id="display_order" value="{$FinalPerformanceCoefficient.display_order}"></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveEdit">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>