    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Salesman">
        <tr>
            <td></td>
            <td>
                <input type="hidden" id="SALESMAN_ID" value="{$Salesman.SALESMAN_ID}">
            </td>
        </tr>
        <tr>
            <td>姓名：</td>
            <td><input type="text" id="FULL_NAME" value="{$Salesman.FULL_NAME}"></td>
        </tr><tr>
            <td>手机号码：</td>
            <td><input type="text" id="PHONE_NUMBER" value="{$Salesman.PHONE_NUMBER}" readonly="readonly"></td>
        </tr><tr>
            <td>职务：</td>
            <td>
                <select id="serve_as_a_post" val="{$Salesman.serve_as_a_post}">
                    
                </select>
            </td>
        </tr><tr>
            <td>所属营业厅：</td>
            <td>
                <select id="affiliated_business_hall" val="{$Salesman.affiliated_business_hall}">
                    
                </select>
            </td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveEdit">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>