<table width="100%">
    <tr>
        <td style="width:100px" align="right">
            计算时间：
        </td>
        <td style="width:200px">
            <table><tr><td>
                <div class='input-group date' style="width:150px" id='performance_time_min_div'>  
                    <input type='text' class="form-control QueryCriteria" id="sign_of_year_and_month" data-date-format="yyyy-mm-dd" readonly="readonly" style="background-color:#FFF" value="{$sign_of_year_and_month}"/>  
                    <span class="input-group-addon">  
                        <span class="glyphicon glyphicon-calendar"></span>  
                    </span>  
                </div>
            </td></tr></table>
        </td>
        <td align="right">
            <button type="button" class="btn btn-primary" id="Inquire">开始计算</button>
        </td>
    </tr>
</table>