<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css?v=0.1" />
        <link rel="stylesheet" type="text/css" href="/static/css/loading.css?v=0.3" />
        <link rel="stylesheet" type="text/css" href="/static/css/weixin/registration.css?v=0.9" />
        <link rel="stylesheet" type="text/css" href="/static/css/weixin/user/bindings.css?v=0.9" />
        <title>员工绑定</title>
    </head>
    
    <body>
        <div class="MainDiv" id="MainDiv">
            <table width="100%">
                <tr>
                    <td>
                        <input type="text" class="form-control" placeholder="请输入手机号" id="PHONE_NUMBER" value="{$Salesman.PHONE_NUMBER}">
                    </td>
                    <td style="width:80px">
                        <button type="button" class="btn btn-success btn-sm" id="sendsms">发送验证码</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="text" class="form-control" placeholder="请输入短信验证码" id="verification_code">
                    </td>
                </tr>
            </table>
            <div style="padding:5px">
                <button type="button" class="btn btn-success btn-block" id="bangding">员工绑定</button>
            </div>
        </div>
        <script data-main="/static/js/weixin/user/bindings.js?v=5" src="/static/js/require.min.js"></script>
    </body>
</html>
