    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Jobinformation">
        <tr>
            <td></td>
            <td>
                <input type="hidden" id="JOB_INFORMATION_ID" value="{$JobInformation.JOB_INFORMATION_ID}">
            </td>
        </tr>
        <tr>
            <td>职务名称：</td>
            <td><input type="text" id="title_name" value="{$JobInformation.title_name}"></td>
        </tr><tr>
            <td>显示顺序：</td>
            <td><input type="text" id="display_order" value="{$JobInformation.display_order}"></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveEdit">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>