    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Broadbandorders">
        <tr>
            <td>主号姓名：</td>
            <td><input type="text" id="master_name" value=""></td>
        </tr><tr>
            <td>手机号码：</td>
            <td><input type="text" id="phone_number" value=""></td>
        </tr><tr>
            <td>接入地址：</td>
            <td><input type="text" id="access_address" value=""></td>
        </tr><tr>
            <td>套餐名称：</td>
            <td><input type="text" id="package_name" value=""></td>
        </tr><tr>
            <td>身份证正面：</td>
            <td><input type="text" id="front_of_id_card" value=""></td>
        </tr><tr>
            <td>身份证反面：</td>
            <td><input type="text" id="reverse_of_id_card" value=""></td>
        </tr><tr>
            <td>备注：</td>
            <td><input type="text" id="remarks" value=""></td>
        </tr><tr>
            <td>提交时间：</td>
            <td><input type="text" id="submission_time" value=""></td>
        </tr><tr>
            <td>审核状态：</td>
            <td><input type="text" id="audit_status" value=""></td>
        </tr><tr>
            <td>退回原因：</td>
            <td><input type="text" id="reasons_for_return" value=""></td>
        </tr><tr>
            <td>提交人OPENID：</td>
            <td><input type="text" id="author_openid" value=""></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>