    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Businesssetmeal">
        <tr>
            <td></td>
            <td>
                <input type="hidden" id="BUSINESS_SET_MEAL_ID" value="{$BusinessSetMeal.BUSINESS_SET_MEAL_ID}">
            </td>
        </tr>
        <tr>
            <td>套餐名称：</td>
            <td><input type="text" id="set_name" value="{$BusinessSetMeal.set_name}"></td>
        </tr><tr>
            <td>套餐说明：</td>
            <td>
                <textarea style="height:100px" id="package_description">{$BusinessSetMeal.package_description}</textarea>
            </td>
        </tr><tr>
            <td>显示顺序：</td>
            <td><input type="text" id="display_order" value="{$BusinessSetMeal.display_order}"></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveEdit">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>