    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Businesssetmeal">
        <tr>
            <td>套餐名称：</td>
            <td><input type="text" id="set_name" value=""></td>
        </tr><tr>
            <td>套餐说明：</td>
            <td><input type="text" id="package_description" value=""></td>
        </tr><tr>
            <td>显示顺序：</td>
            <td><input type="text" id="display_order" value=""></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>