    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Finalperformance">
        <tr>
            <td>年月标识：</td>
            <td><input type="text" id="sign_of_year_and_month" value=""></td>
        </tr><tr>
            <td>openid：</td>
            <td><input type="text" id="openid" value=""></td>
        </tr><tr>
            <td>户数：</td>
            <td><input type="text" id="households" value=""></td>
        </tr><tr>
            <td>计算说明：</td>
            <td><input type="text" id="calculation_explanation" value=""></td>
        </tr><tr>
            <td>最终业绩：</td>
            <td><input type="text" id="final_performance" value=""></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>