    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <div>是否确认删除以下数据？</div>
    <table class="FormTable" id="Finalperformance">
        <tr>
            <td></td>
            <td>
                <input type="hidden" id="FINAL_PERFORMANCE_ID" value="{$FinalPerformance.FINAL_PERFORMANCE_ID}">
            </td>
        </tr>
        <tr>
            <td>年月标识：</td>
            <td>{$FinalPerformance.sign_of_year_and_month}</td>
        </tr><tr>
            <td>openid：</td>
            <td>{$FinalPerformance.openid}</td>
        </tr><tr>
            <td>户数：</td>
            <td>{$FinalPerformance.households}</td>
        </tr><tr>
            <td>计算说明：</td>
            <td>{$FinalPerformance.calculation_explanation}</td>
        </tr><tr>
            <td>最终业绩：</td>
            <td>{$FinalPerformance.final_performance}</td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="Delete">删除</div><div class="Button" id="Cancellation">取消</div>
    </div>