    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Textinformation">
        <tr>
            <td>文本标题：</td>
            <td><input type="text" id="text_title" value=""></td>
        </tr><tr>
            <td>文本内容：</td>
            <td id="text_content"></td>
        </tr>
    </table>
    <div></div>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>