    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Broadbandinstallationresources">
        <tr>
            <td>区域：</td>
            <td><input type="text" id="region" value=""></td>
        </tr><tr>
            <td>街道：</td>
            <td><input type="text" id="street" value=""></td>
        </tr><tr>
            <td>路巷村：</td>
            <td><input type="text" id="lane_village" value=""></td>
        </tr><tr>
            <td>小区：</td>
            <td><input type="text" id="residential_quarters" value=""></td>
        </tr><tr>
            <td>街路名：</td>
            <td><input type="text" id="street_name" value=""></td>
        </tr><tr>
            <td>楼编号：</td>
            <td><input type="text" id="building_number" value=""></td>
        </tr><tr>
            <td>显示顺序：</td>
            <td><input type="text" id="display_order" value=""></td>
        </tr><tr>
            <td>最后时间：</td>
            <td><input type="text" id="last_time" value=""></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>