    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Broadbandinstallationresources">
        <tr>
            <td></td>
            <td>
                <input type="hidden" id="BROADBAND_INSTALLATION_RESOURCES_ID" value="{$BroadbandInstallationResources.BROADBAND_INSTALLATION_RESOURCES_ID}">
            </td>
        </tr>
        <tr>
            <td>区域：</td>
            <td><input type="text" id="region" value="{$BroadbandInstallationResources.region}"></td>
        </tr><tr>
            <td>街道：</td>
            <td><input type="text" id="street" value="{$BroadbandInstallationResources.street}"></td>
        </tr><tr>
            <td>路巷村：</td>
            <td><input type="text" id="lane_village" value="{$BroadbandInstallationResources.lane_village}"></td>
        </tr><tr>
            <td>小区：</td>
            <td><input type="text" id="residential_quarters" value="{$BroadbandInstallationResources.residential_quarters}"></td>
        </tr><tr>
            <td>街路名：</td>
            <td><input type="text" id="street_name" value="{$BroadbandInstallationResources.street_name}"></td>
        </tr><tr>
            <td>楼编号：</td>
            <td><input type="text" id="building_number" value="{$BroadbandInstallationResources.building_number}"></td>
        </tr><tr>
            <td>显示顺序：</td>
            <td><input type="text" id="display_order" value="{$BroadbandInstallationResources.display_order}"></td>
        </tr><tr>
            <td>最后时间：</td>
            <td><input type="text" id="last_time" value="{$BroadbandInstallationResources.last_time}"></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveEdit">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>