    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Finalperformancecoefficient">
        <tr>
            <td>区间最小值：</td>
            <td><input type="text" id="interval_minimum" value=""></td>
        </tr><tr>
            <td>区间最大值：</td>
            <td><input type="text" id="interval_maximum" value=""></td>
        </tr><tr>
            <td>绩效系数：</td>
            <td><input type="text" id="performance_coefficient" value=""></td>
        </tr><tr>
            <td>显示顺序：</td>
            <td><input type="text" id="display_order" value=""></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>