    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Housekeepingservice">
        <tr>
            <td>服务分类：</td>
            <td><input type="text" id="service_classification" value=""></td>
        </tr><tr>
            <td>服务名称：</td>
            <td><input type="text" id="service_name" value=""></td>
        </tr><tr>
            <td>服务说明：</td>
            <td><input type="text" id="service_description" value=""></td>
        </tr><tr>
            <td>服务图标：</td>
            <td><input type="text" id="service_icon" value=""></td>
        </tr><tr>
            <td>显示顺序：</td>
            <td><input type="text" id="display_order" value=""></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>