    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <div>是否确认删除以下数据？</div>
    <table class="FormTable" id="Administrativearea">
        <tr>
            <td></td>
            <td>
                <input type="hidden" id="ADMINISTRATIVE_AREA_ID" value="{$AdministrativeArea.ADMINISTRATIVE_AREA_ID}">
            </td>
        </tr>
        <tr>
            <td>行政区：</td>
            <td>{$AdministrativeArea.administrative_area}</td>
        </tr><tr>
            <td>显示顺序：</td>
            <td>{$AdministrativeArea.display_order}</td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="Delete">删除</div><div class="Button" id="Cancellation">取消</div>
    </div>