hr{
    margin-top: 5px;margin-bottom: 5px;
}
a{
    font-size: 12px
}
td{
    vertical-align:top;padding: 0px;
}
.PanelTitle{
    border-left-width: 5px;border-left-style: solid;padding-left: 5px;border-top-width: 1px;border-top-style: solid;border-right-width: 1px;border-right-style: solid;border-bottom-width: 1px;border-bottom-style: solid;padding: 5px;border-color: #E1E6EB;border-left-color:#6D7781; background-color: #F5F6FA;color: #333333;
}
.text-muted{
    color: #999;font-size: 12px
}
.ng-binding{
    color: #333333;font-size: 12px
}
.ng-isolate-scope{
    font-size: 24px
}
.ecs-detail-relation-box{
    background-color: #f8f9fb;
    padding: 5px;padding-top: 10px;
}
.ecs-detail-relation-item{
    font-size: 24px;color: #090;
}
.console-title{
    border-left-width: 3px;border-left-style: solid;padding-left: 5px;margin-top: 10px;border-color: #09C;
}
.line{
    background-color: rgb(153, 153, 153);
    color: rgb(102, 102, 102);
    font-family: Arial,"微软雅黑";
    font-size: 12px;
    height: 240px;
    left: 26px;
    position: absolute;
    top: 15px;
    width: 1px;
    z-index: -1;
}
.Axis-time{
    text-align:right;width:80px;font-size: 12px;
}
.Axis-text{
    font-size: 12px;
}