<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css?v=0.1" />
        <link rel="stylesheet" type="text/css" href="/static/css/loading.css?v=0.2" />
        <link rel="stylesheet" type="text/css" href="/static/css/weixin/registration.css?v=0.5" />
        <title>用车任务已提交</title>
    </head>
    <body>
        <div class="text-center MainDiv">
            <p class="RegistrationSuccessful"><img src="/static/img/ico/success.png"></p>
            <p style="margin-top:20px">用车任务已提交，请联系管理员审批！</p>
            <button style="margin-top:20px" type="button" class="btn btn-success btn-lg btn-block" id="ShutDown">关闭</button>
        </div>
        <script data-main="/static/js/weixin/registration.js?v=0.9" src="/static/js/require.min.js"></script>
    </body>
</html>
