    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <div>是否确认删除以下数据？</div>
    <table class="FormTable" id="Salesman">
        <tr>
            <td></td>
            <td>
                <input type="hidden" id="SALESMAN_ID" value="{$Salesman.SALESMAN_ID}">
            </td>
        </tr>
        <tr>
            <td>姓名：</td>
            <td>{$Salesman.FULL_NAME}</td>
        </tr><tr>
            <td>手机号码：</td>
            <td>{$Salesman.PHONE_NUMBER}</td>
        </tr><tr>
            <td>openid：</td>
            <td>{$Salesman.openid}</td>
        </tr><tr>
            <td>登记时间：</td>
            <td>{$Salesman.registration_time}</td>
        </tr><tr>
            <td>绑定时间：</td>
            <td>{$Salesman.binding_time}</td>
        </tr><tr>
            <td>头像：</td>
            <td>{$Salesman.head_portrait}</td>
        </tr><tr>
            <td>验证码：</td>
            <td>{$Salesman.verification_code}</td>
        </tr><tr>
            <td>所属营业厅：</td>
            <td>{$Salesman.affiliated_business_hall}</td>
        </tr><tr>
            <td>担任职务：</td>
            <td>{$Salesman.serve_as_a_post}</td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="Delete">删除</div><div class="Button" id="Cancellation">取消</div>
    </div>