<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/General.css?v=0.1" />
        <title></title>
    </head>
    <body>
        <div id="Title" class="Title">权限管理</div>
        <table width="100%">
            <tr>
                <td id="Menu" class="Menu" style="width:200px">
                    
                </td>
                <td>
                    
                </td>
            </tr>
        </table>
        <script data-main="/static/js/main.js?v=0.5" src="/static/js/require.min.js"></script>
    </body>
    
</html>
