<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css?v=0.1" />
        <link rel="stylesheet" type="text/css" href="/static/css/loading.css?v=0.3" />
        <link rel="stylesheet" type="text/css" href="/static/css/weixin/registration.css?v=1" />
        <title>开户</title>
    </head>
    <body>
        <div class="navdiv">
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="#">订单信息</a></li>
              <li role="presentation"><a href="/index/index/Timeline/id/{$Order.BROADBAND_ORDERS_ID}">时间轴</a></li>
            </ul>
        </div>
        <div class="MainDiv" id="MainDiv">
            <div class="ReturnReasons" id="ReturnReasons" style="display:none">
                <p>退回原因：</p>
                <p style="margin-left:20px">{$Order.reasons_for_return}</p>
                <input type="hidden" id="BROADBAND_ORDERS_ID" value="{$Order.BROADBAND_ORDERS_ID}">
            </div>
            <div class="form-group">
                <label>业务状态：</label>
                <p id="audit_status">{$Order.business_state}</p>
            </div>
            <div class="form-group">
                <label>主号姓名：</label>
                <p>{$Order.master_name}</p>
            </div>
            <div class="form-group">
                <label>手机号（多个号请用，分开）：</label>
                <p>{$Order.phone_number}</p>
            </div>
            <div class="form-group">
                <label>接入地址：</label>
                <p>{$Order.access_address}</p>
            </div>
            <div class="form-group">
                <label>套餐选择：</label>
                <p>{$Order.package_name}</p>
            </div>
            <div class="form-group">
                <label>接入方式：</label>
                <p>{$Order.access_mode}</p>
            </div>
            <div class="form-group">
                <label>身份证照片：</label>
                <table width="100%">
                    <tr>
                        <td class="text-center" valign="middle" style="width:50%">
                            <div class="IdPhotos" id="front_of_id_card" serverId=""><img src="{$Order.front_of_id_card}" class="img-responsive img-rounded" style="width:100%" alt="点击补传照片"></div>
                        </td>
                        <td class="text-center">
                            <div class="IdPhotos" id="reverse_of_id_card" serverId=""><img src="{$Order.reverse_of_id_card}" class="img-responsive img-rounded" style="width:100%" alt="点击补传照片"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <label>备注：</label>
                <p>{$Order.remarks}</p>
            </div>
            {eq name="Order.whether_to_pay" value="未支付"}
                <button type="button" class="btn btn-success btn-lg btn-block" style="display:none" id="zhifu">支付</button>
            {/eq}
            {eq name="Order.business_state" value="已下单"}
                <button type="button" class="btn btn-success btn-lg btn-block" style="display:none" id="shanchu">删除</button>
            {/eq}
            <button type="button" class="btn btn-success btn-lg btn-block" id="Returns">返回</button>
        </div>
        <script data-main="/static/js/weixin/orderdetails.js?v=7" src="/static/js/require.min.js"></script>
    </body>
</html>
