    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Operationparameters">
        <tr>
            <td>参数名：</td>
            <td><input type="text" id="parameter_name" value=""></td>
        </tr><tr>
            <td>参数值：</td>
            <td><input type="text" id="parameter_values" value=""></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveData">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>