    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <div>是否确认删除以下数据？</div>
    <table class="FormTable" id="Operationparameters">
        <tr>
            <td></td>
            <td>
                <input type="hidden" id="OPERATION_PARAMETERS_ID" value="{$OperationParameters.OPERATION_PARAMETERS_ID}">
            </td>
        </tr>
        <tr>
            <td>参数名：</td>
            <td>{$OperationParameters.parameter_name}</td>
        </tr><tr>
            <td>参数值：</td>
            <td>{$OperationParameters.parameter_values}</td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="Delete">删除</div><div class="Button" id="Cancellation">取消</div>
    </div>