    <input type="hidden" id="SecondTitleInput" value="{$SecondTitle}">
    <input type="hidden" id="ScriptFragment" value="{$ScriptFragment}">
    <table class="FormTable" id="Operationparameters">
        <tr>
            <td></td>
            <td>
                <input type="hidden" id="OPERATION_PARAMETERS_ID" value="{$OperationParameters.OPERATION_PARAMETERS_ID}">
            </td>
        </tr>
        <tr>
            <td>参数名：</td>
            <td><input type="text" id="parameter_name" value="{$OperationParameters.parameter_name}"></td>
        </tr><tr>
            <td>参数值：</td>
            <td><input type="text" id="parameter_values" value="{$OperationParameters.parameter_values}"></td>
        </tr>
    </table>
    <div class="BottomButtons">
        <div class="Button" id="SaveEdit">保存</div><div class="Button" id="Cancellation">取消</div>
    </div>